@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Expanded+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    min-height: 100svh;
    display: grid;
    place-items: center;
    background: linear-gradient(45deg,#547792, #8E7DBE);
}
.container{
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: column;
}
.container h1{
    font-size: 22px;
    margin-bottom: 5px;
    color: #0a3b61;
}
.container p{
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 25px;
}
.container #stringInput{
    flex: 1;
    border: 2px solid rgb(71, 71, 71);
    outline: none;
    background: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 10px;
}
.container #stringInput::placeholder{
    color: black;
    opacity: 0.7;
}
.container button{
    padding: 7px 5px;
    background: #8a6be0;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: 450;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.container .showPalindrome{
    text-align: center;
    font-size: 19px;
    opacity: 0.8;
}